* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* EXERCISE 1 */
.exercise1 {
  padding: 100px;
  margin-bottom: 20px;
}

.exercise1 h1 {
  margin-bottom: 50px;
}

.exercise1 label,
p {
  font-size: 1.5rem;
}

.exercise1 button {
  margin-top: 20px;
}

.exercise1 .content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* EXERCISE 2 */
.exercise2 {
  padding: 100px;
  margin-bottom: 20px;
}

.exercise2 h1 {
  margin-bottom: 50px;
}

.exercise2 label,
p {
  font-size: 1.5rem;
}

.exercise2 button {
  margin-top: 20px;
}

.exercise2 .content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Exercise 3 */
.exercise3 {
  padding: 100px;
  margin-bottom: 20px;
}

.exercise3 h1 {
  margin-bottom: 50px;
}

.exercise3 label,
p {
  font-size: 1.5rem;
}

.exercise3 button {
  margin-top: 20px;
}

.exercise3 .content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Exercise 4 */
.exercise4 {
  padding: 100px;
  margin-bottom: 20px;
}

.exercise4 h1 {
  margin-bottom: 50px;
}

.exercise4 label,
p {
  font-size: 1.5rem;
}

.exercise4 button {
  margin-top: 20px;
}

.exercise4 .content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Exercise 5 */
.exercise5 {
  padding: 100px;
  margin-bottom: 20px;
}

.exercise5 h1 {
  margin-bottom: 50px;
}

.exercise5 label,
p {
  font-size: 1.5rem;
}

.exercise5 button {
  margin-top: 20px;
}

.exercise5 .content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
